body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
}
:root {
    --var-bgcolor: #fff;
    --var-fontcolor: #000;
}

/* [dark] {
    --var-bgcolor: #333;
    --var-fontcolor: #eee;
} */

@media (prefers-color-scheme: dark) {
:root {
    --var-bgcolor: #333;
    --var-fontcolor: #eee;
}}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h2 {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    /* background-color: rgb(233, 147, 255); */
    padding: 35px;
    margin: auto;
    max-width: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    align-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 33px;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(225, 0, 255), 0 0 5px #0008;
    position: relative;
}

.card:hover {
    color: springgreen;
    /* transform: scale(1.1, 1.1); */
    box-shadow: 0 0 35px rgb(225, 0, 255), 0 0 15px #0008;
}

.card .like {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: darkviolet;
    cursor: pointer;
}

.card .change {
    position: absolute;
    bottom: 6px;
    cursor: pointer;
}

.card .trash {
    position: absolute;
    left: 8px;
    bottom: 8px;
    cursor: pointer;
}

.card .pic {
    height: 222px;
    width: 100%;
    background-color: springgreen;
    background-image: url(images/default.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pic.tmp {
    background-image: url(images/default.png);
    /* background-image: url(https://www.24petwatch.com/adobe/dynamicmedia/deliver/dm-aid--494fba93-e183-47b2-bc12-8e5072be390a/24petwatch-hero-web.png); */
    background-size: contain auto;
    /* background-size: auto 69%; */
}

.btn {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    color: springgreen;
    transform: scale(1.1, 1.1);
}

.add {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}
/* .change user {
    
} */
.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal-block {
    background-color: rgba(62, 62, 62, 0.8);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-block.active {
    display: flex;
}

.modal {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    width: calc(100% - 80px);
    max-width: 300px;
    max-height: calc(100% - 80px);
    overflow: auto;
    position: relative;
}

form {
    display: grid;
    margin-top: 16px; 
    gap: 8px;
}

input:note([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

.preview {
    height: 200px;
    background-color: springgreen;
    border-radius: 8px;
    background-image: url("images/default.png");
    background-position: center;
    background-size: cover;
}

/* input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid darkgray;
    background-color: transparent;
} */

